#inputs {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
}

#inputs .row {
    justify-self: end;
}

.row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.password-container {
    padding: 0 20px 20px 20px;
}

#output span {
    background-color: #0f172a;
    color: #fb7185;
    padding: 1.25rem;
    border-radius: 8px;
    border: 1px solid #991b1b;
    font-family: "Courier New", monospace;
    font-size: 0.95rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 12px;
    box-shadow: 0 0 15px rgba(244, 63, 94, 0.05);
}

#output span.secret {
    color: #4ade80;
    border: 1px solid #166534;
    box-shadow: 0 0 20px rgba(74, 222, 128, 0.05);
    font-style: normal;
    text-align: initial;
    white-space: pre-wrap;
}
