details.cta > summary svg {
    /* fill: currentColor; */
    transition: transform 0.5s ease;
    transform: rotate(90deg);
}

details[open].cta > summary svg {
    transform: rotate(270deg);
}

details[open].cta > summary {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.cta > summary {
    margin: auto;
    width: fit-content;
    margin-top: 50px;
    padding: 1em 1em;
    font-size: 1.1rem;
    /* color: ; */
    cursor: pointer;
    border-radius: 20px;
    transition: border-radius 0.3s ease;

    display: flex;
    justify-content: center;
    gap: 0.5em;

    &::marker {
        content: "";
        justify-self: end;
    }
    &:hover {
        /* color: #666; */
        background-color: #1e293b;
    }
}
