input.small {
    width: 4rem;
}

.custom-header-container {
    padding: 20px;
}

.password-fields {
    display: flex;
    gap: 1rem;
}

details {
    margin-bottom: 1rem;
}

.download-all-container {
    display: flex;
    justify-content: center;
}
